<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>Parallax Template - Materialize</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="../static/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="../static/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="../static/css/customize.css" type="text/css" rel="stylesheet"/>
</head>
<body>
  <nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="#" class="brand-logo">Open Jaurnal</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#">인기 논문</a></li>
      </ul>
      <ul class="right hide-on-med-and-down">
        <li><a href="#">최신 논문</a></li>
      </ul>
      <ul class="right hide-on-med-and-down">
        <li><a href="#">월간 논문</a></li>
      </ul>
      <ul class="right hide-on-med-and-down">
        <li><a href="#">논문 투고</a></li>
      </ul>
      <ul class="right hide-on-med-and-down">
        <li><a href="#">커뮤니티</a></li>
      </ul>

      <ul id="nav-mobile" class="sidenav">
        <li><a href="#">인기 논문</a></li>
        <li><a href="#">최신 논문</a></li>
        <li><a href="#">월간 논문</a></li>
        <li><a href="#">논문 투고</a></li>
        <li><a href="#">커뮤니티</a></li>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons blue-text text-darken-4">menu</i></a>
    </div>
  </nav>

  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center blue-text text-darken-4 text-lighten-2">OPEN JAURNAL</h1>
        <div class="row center">
          <h5 class="header col s12 black-text">논문 저작권자에게 충분한 보상이 보장되는 오픈 저널 커뮤니티</h5>
        </div>
        <div class="row center">
	  <a href="oauth" id="" class="btn-large waves-effect waves-light blue darken-4">구글 로그인</a>
          <a href="#" id="" class="btn-large waves-effect waves-light blue darken-4">가입</a>
          <a href="#" id="" class="btn-large waves-effect waves-light blue darken-4">더 알아보기</a>
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="../static/background1.jpg" alt="Unsplashed background img 1"></div>
  </div>
 
  <div class="container">
    <div class="section">
      <div class="row">
        <div class="col s12">
          <form>
            <span class='blue_window'>
              <input type='search' class='input_text' />
            </span>
            <button type='submit' class='center sch_smit'><i class="material-icons">search</i></button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="section">
        <div class="articles__header row">
          <div class="col s6 center">
            <select class="browser-default">
              <option value="0">전체</option>
              <option value="1">인문학</option>
              <option value="2">사회과학</option>
              <option value="3">자연과학</option>
              <option value="4">공학</option>
              <option value="5">의약학</option>
              <option value="6">농수해양학</option>
              <option value="7">예술체육</option>
              <option value="8">복합학</option>
            </select>
          </div>
          <div class="col s6 center">
            <select class="browser-default">
              <option value="9" disabled selected>인기논문</option>
              <option value="10">최신논문</option>
            </select>
          </div>
          <div class="col s12 center">
            
            
            
            <h3><i class="mdi-content-send brown-text"></i></h3>
            <h4>Contact Us</h4>
            <p class="left-align light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque id nunc nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac. Cras ut ultricies eros. Maecenas eros justo, ullamcorper a sapien id, viverra ultrices eros. Morbi sem neque, posuere et pretium eget, bibendum sollicitudin lacus. Aliquam eleifend sollicitudin diam, eu mattis nisl maximus sed. Nulla imperdiet semper molestie. Morbi massa odio, condimentum sed ipsum ac, gravida ultrices erat. Nullam eget dignissim mauris, non tristique erat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p>
            </div>
        </div>
    </div>
  </div>


  <footer class="page-footer blue darken-4">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Company Bio</h5>
          <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Settings</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="brown-text text-lighten-3" href="http://materializecss.com">Materialize</a>
      </div>
    </div>
  </footer>

  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="../static/js/materialize.js"></script>
  <script src="../static/js/init.js"></script>

  </body>
</html>
