<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>Open Journal</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="../static/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="../static/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="../static/css/customize.css" type="text/css" rel="stylesheet"/>
</head>
<body>
  <nav class="white" role="navigation">
    <table border = 1>
 </table>
    <ul id="dropdown1" class="dropdown-content">
      <li><a href="main_login" class="black-text">로그인</a></li>
      <li class="divider"></li>
      <li><a href="main_new_member" class="black-text">회원가입</a></li>
    </ul>
    <div class="nav-wrapper container">
      <a id="logo-container" href="/" class="brand-logo">Open Journal</a>
      <ul class="right hide-on-med-and-down">
	    <li><a href="main_enroll">논문 등록 및 검수</a></li>
	    <li><a href="main_comunity">커뮤니티</a></li>
	    <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">로그인<i class="material-icons right">arrow_drop_down</i></a></li>
      </ul>
      <ul id="nav-mobile" class="sidenav">
        <li><a href="main_enroll.html">논문 등록 및 검수</a></li>
        <li><a href="main_comunity.html">커뮤니티</a></li>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons blue-text text-darken-4">menu</i></a>
    </div>
  </nav>



  <div class="container">
    <div class="section">
      <div class="row" style="margin-bottom:0px;">
        <div style="margin:10px; padding-top:10px;" class="col s12 left">
          <p style="font-size:2rem; font-weight:bold; margin:0; padding:0;">기본정보</p>
        </div>
        <div class="col s12 center">
          <table class="journal_info">
            <tbody>
              <tr>
                <td style="font-weight: bold;">
                  이름
                </td>
                <td>
                  구민준
                </td>
              </tr>
              <tr>
                <td style="font-weight: bold;">
                  이메일
                </td>
                <td>
                  mjkoo711@gmail.com
                </td>
              </tr>
              <tr>
                <td style="font-weight: bold;">
                  명성점수
                </td>
                <td>
                  85
                </td>
              </tr>
              <tr>
                <td style="font-weight: bold;">
                  OpenJournal 토큰개수
                </td>
                <td>
                  13
                </td>
              </tr>
              <tr>
                <td style="font-weight: bold;">
                  등록한 논문
                </td>
                <td>
                  1
                </td>
              </tr>
              <tr>
                <td style="font-weight: bold;">
                  구독한 논문
                </td>
                <td>
                  5
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="row" style="margin-bottom:0px;">
        <div style="padding-top:10px;" class="col s6 left">
          <div style="margin:10px;">
            <p style="font-size:2rem; font-weight:bold; margin:0; padding:0;">구독한 논문</p>
          </div>
          <div style="overflow:scroll; min-height: 500px; max-height:700px;">
            <div class="col s12">
              <div class="card blue darken-4">
                <div style="padding:15px;" class="card-content white-text">
                  <span class="card-title">오토마타와 아두이노 기술을 활용한 새로운 융합 공학 접근 방법</span>
                  <p>이준표, 한갑수, 이승항 | 공학 - 컴퓨터공학</p>
                </div>
              </div>
            </div>
            <div class="col s12">
              <div class="card blue darken-4">
                <div style="padding:15px;" class="card-content white-text">
                  <span class="card-title">미국 화학물질 규제행정의 체계와 법제</span>
                  <p>오성은, 윤혜선 | 화학 - 화학</p>
                </div>
              </div>
            </div>
            <div class="col s12">
              <div class="card blue darken-4">
                <div style="padding:15px;" class="card-content white-text">
                  <span class="card-title">투석환자에서 수면장애에 영향을 주는 심리학적 요인과 의학적 요인</span>
                  <p>강건우, 지윤미, 서민재, 김홍익, 우정민 | 인문학 - 심리학</p>
                </div>
              </div>
            </div>
            <div class="col s12">
              <div class="card blue darken-4">
                <div style="padding:15px;" class="card-content white-text">
                  <span class="card-title">체육과 인간 형성에 관한 근대 일본의 연구 동향</span>
                  <p>김기용 | 예체능 - 체육</p>
                </div>
              </div>
            </div>
            <div class="col s12">
              <div class="card blue darken-4">
                <div style="padding:15px;" class="card-content white-text">
                  <span class="card-title">자연명상법을 통한 심리치유의 필요성과 그 대안</span>
                  <p>강명희 | 자연과학 - 환경학</p>
                </div>
              </div>
            </div>

          </div>

        </div>

        <div style=" padding-top:10px;" class="col s6 left">
          <div style="margin:10px;">
            <p style="font-size:2rem; font-weight:bold; margin:0; padding:0;">등록한 논문</p>
          </div>

          <div style="overflow:scroll; min-height: 500px; max-height:700px;">
            <div class="col s12">
              <div class="card blue darken-4">
                <div style="padding:15px;" class="card-content white-text">
                  <span class="card-title">논문시장에 적용되는 블록체인</span>
                  <p>구민준 | 공학 - 컴퓨터공학</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>
  <!--  Scripts-->

  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="../static/js/materialize.js"></script>
  <script src="../static/js/init.js"></script>
  <script src="../static/js/customize.js"></script>

  </body>
</html>
