<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>file upload</title>
</head>
<body>
<fieldset>
  <legend>파일 업로드</legend>
  <table>
    <form name="enroll" action="/enrollPaper" method="POST" enctype=multipart/form-data>
      <tr>
        <td>글쓴이 : </td>
        <td><input type="text" name="author"/></td>
      </tr>
      <tr>
          <td>제목 : </td>
          <td><input type="text" name="title"/></td>
      </tr>
      <tr>
          <td>내용 : </td>
          <td><input type="text" name="content"/></td>
      </tr>
      <tr>
        <td>글쓴이 : </td>
        <td><input type="file" value="파일 선택" name="file"/></td>
      </tr>
      <tr>
        <td colspan="2"><input type="submit" value="업로드"/></td>
      </tr>
    </form>
  </table>
</fieldset>

</body>
</html>
