<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>Open Journal</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/customize.css" type="text/css" rel="stylesheet"/>
</head>
<body>
  <nav class="white" role="navigation">
    <ul id="dropdown1" class="dropdown-content">
      <li id="nav_login"><a href="main_login" class="black-text">로그인</a></li>
      <li id="nav_new_member" ><a href="main_new_member" class="black-text">회원가입</a></li>
    </ul>
    <ul id="dropdown2"  class="dropdown-content">
      <li id="nav_mypage" ><a href="main_mypage" class="black-text">마이 페이지</a></li>
      <li id="nav_buyToken" ><a href="main_token_buy_page" class="black-text">토큰구매하기</a></li>
      <li id="nav_logout" ><a href="main_logout" class="black-text">로그아웃</a></li>
    </ul>
    <div class="nav-wrapper container">
      <a id="logo-container" href="/" class="brand-logo">Open Journal</a>
      <ul class="right hide-on-med-and-down">
      <li><a href="main_enroll">논문 검수 및 등록</a></li>
      <li><a href="main_view_fix_journal">논문 구독</a></li>
      <li><a href="main_comunity">커뮤니티</a></li>
      <li id="nav_login2"  ><a class="dropdown-trigger" href="main_login" data-target="dropdown1">로그인<i class="material-icons right">arrow_drop_down</i></a></li>
      <li id="nav_mypage2"   ><a class="dropdown-trigger" href="main_mypage" data-target="dropdown2">마이페이지<i class="material-icons right">arrow_drop_down</i></a></li>

    </ul>
      <ul id="nav-mobile" class="sidenav">
        <li><a href="main_enroll">논문 검수 및 등록</a></li>
        <li><a href="main_view_fix_journal">논문 구독</a></li>
        <li><a href="main_comunity">커뮤니티</a></li>
        <li name="notmemberNav" style="display:block;"><a href="main_login">로그인</a></li>
        <li name="notmemberNav" style="display:block;"><a href="main_new_member">회원가입</a></li>
        <li name="memberNav" style="display:none;"><a href="main_mypage">마이 페이지</a></li>
        <li name="memberNav" style="display:none;"><a href="main_token_buy_page">토큰 구매하기</a></li>
        <li name="memberNav" style="display:none;"><a href="main_logout">로그아웃</a></li>
      </ul>
      <a data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons blue-text text-darken-4">menu</i></a>
    </div>
  </nav>

  <div id="loading_journal" style="display:none; margin:0px;" class="fixed center-align">
    <div style="margin:0px;" class="blue lighten-4 progress">
      <div class="blue darken-3 indeterminate"></div>
    </div>
    <span style="font-weight:bold;" class="blue-text text-darken-4">논문이 블록체인에 걸리는 데 약 1분 정도 소요됩니다.</span>
  </div>

  <div id="complete_journal" style="display:none; margin:0px;" class="fixed center-align">
    <div style="margin:0px;" class="progress">
        <div class="blue darken-3 determinate" style="width: 100%"></div>
    </div>
    <span style="font-weight:bold;" class="blue-text text-darken-4">논문이 성공적으로 등록되었습니다.</span>
  </div>

  <div class="container">
    <div class="section">
      <div class="row" style="margin-bottom:0px;">
        <div style="margin:10px; padding-top:10px;" class="col s12 left">
          <p style="font-size:2rem; font-weight:bold; margin:0; padding:0;">기본정보</p>
        </div>
        {% for i in userInfo %}
        <div class="col s12 center">
          <table class="journal_info">
            <tbody>
              <tr>
                <td style="font-weight: bold;">
                  이름
                </td>
                <td>
                  {{i.user_name}}
                </td>
              </tr>
              <tr>
                <td style="font-weight: bold;">
                  이메일
                </td>
                <td>
                  {{i.user_id}}
                </td>
              </tr>
              <tr>
                <td style="font-weight: bold;">
                  명성점수
                </td>
                <td>
                  {{i.fame}}
                </td>
              </tr>
              <tr>
                <td style="font-weight: bold;">
                  OpenJournal 토큰개수
                </td>
                <td>
                  {{i.tokenNum}}
                </td>
              </tr>
              <tr>
                <td style="font-weight: bold;">
                  등록한 논문
                </td>
                <td>
                  {{i.enrollPaperNum}}
                </td>
              </tr>
              <tr>
                <td style="font-weight: bold;">
                  구독한 논문
                </td>
                <td>
                  5
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        {% endfor %}
      </div>

      <div class="row" style="margin-bottom:0px;">
        <div style="padding-top:10px;" class="col s6 left">
          <div style="margin:10px;">
            <p style="font-size:2rem; font-weight:bold; margin:0; padding:0;">구독한 논문</p>
          </div>
          <div style="overflow:scroll;">
            <div class="col s12">
              <div class="card blue darken-4">
                <div style="padding:15px;" class="card-content white-text">
                  <span class="card-title">오토마타와 아두이노 기술을 활용한 새로운 융합 공학 접근 방법</span>
                  <p>이준표, 한갑수, 이승항 | 공학 - 컴퓨터공학</p>
                </div>
              </div>
            </div>
            <div class="col s12">
              <div class="card blue darken-4">
                <div style="padding:15px;" class="card-content white-text">
                  <span class="card-title">미국 화학물질 규제행정의 체계와 법제</span>
                  <p>오성은, 윤혜선 | 화학 - 화학</p>
                </div>
              </div>
            </div>
            <div class="col s12">
              <div class="card blue darken-4">
                <div style="padding:15px;" class="card-content white-text">
                  <span class="card-title">투석환자에서 수면장애에 영향을 주는 심리학적 요인과 의학적 요인</span>
                  <p>강건우, 지윤미, 서민재, 김홍익, 우정민 | 인문학 - 심리학</p>
                </div>
              </div>
            </div>
            <div class="col s12">
              <div class="card blue darken-4">
                <div style="padding:15px;" class="card-content white-text">
                  <span class="card-title">체육과 인간 형성에 관한 근대 일본의 연구 동향</span>
                  <p>김기용 | 예체능 - 체육</p>
                </div>
              </div>
            </div>
            <div class="col s12">
              <div class="card blue darken-4">
                <div style="padding:15px;" class="card-content white-text">
                  <span class="card-title">자연명상법을 통한 심리치유의 필요성과 그 대안</span>
                  <p>강명희 | 자연과학 - 환경학</p>
                </div>
              </div>
            </div>
          </div>
        </div>


        <div style=" padding-top:10px;" class="col s6 left">
          <div style="margin:10px;">
            <p style="font-size:2rem; font-weight:bold; margin:0; padding:0;">등록한 논문</p>
          </div>
          <div style="overflow:scroll; min-height: 500px; max-height:700px;">
            {% for i in writePaper %}
            <div class="col s12" onclick="location.href='/main_view_journal?id={{i._id}}'">
              <div class="card blue darken-4">
                <div style="padding:15px;" class="card-content white-text">
                  <span class="card-title">{{i.title}}</span>
                  <p>{{i.writer}} | {{i.mainCategory}} - {{i.subCategory}}</p>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>

  <footer class="blue darken-4 page-footer">
   <div class="container">
     <div class="row">
       <div class="col l6 s12">
         <h5 class="white-text">Open Journal</h5>
         <p class="grey-text text-lighten-4">블록체인을 공부함과 동시에 논문 시장을 개척하고자 플랫폼을 개발하였고, 캡스톤 프로젝트에서 선보일 예정입니다.</p>
       </div>
       <div class="col l4 offset-l2 s12">
         <h5 class="white-text">Links</h5>
         <ul>
           <li><a class="grey-text text-lighten-3" href="https://www.facebook.com/eom.hyungguen" target="_blank">엄형근 Facebook</a></li>
           <li><a class="grey-text text-lighten-3" href="https://www.facebook.com/profile.php?id=100005209691285" target="_blank">차민준 Facebook</a></li>
           <li><a class="grey-text text-lighten-3" href="https://www.facebook.com/profile.php?id=100006514342253" target="_blank">구민준 Facebook</a></li>
           <li><a class="grey-text text-lighten-3" href="https://www.facebook.com/byeun.goohoon" target="_blank">변구훈 Facebook</a></li>
         </ul>
       </div>
     </div>
   </div>
   <div class="footer-copyright">
     <div class="container">
       <span class="left">© 2018 Copyright Text</span>
       <div style="margin : 5px; margin-top:0px;" class="s12 center">
         <a class="grey-text text-lighten-4 right" href="https://github.com/kookmin-sw/2018-cap1-1" target="_blank">Github</a>
         <img style="margin-right:7px; width:3%; height:3%;" class="right" src="img/github-logo.png">
       </div>
     </div>
   </div>
  </footer>
  <!--  Scripts-->

  <script>
    var userId = '{{userId}}';

    var mobile_nonmember = document.getElementsByName("notmemberNav");
    var mobile_member = document.getElementsByName("memberNav");
    var member = document.getElementById("nav_mypage2");
    var nonmember = document.getElementById("nav_login2");

    if(userId != ""){ //login

      member.style.display = 'list-item';
      nonmember.style.display = 'none';
      for(i=0; i<mobile_nonmember.length; i++){
        mobile_nonmember[i].style.display = 'none';
      }
      for(i=0; i<mobile_member.length; i++){
        mobile_member[i].style.display = 'block';
      }
    }

    else if(userId == ""){
      for(i=0; i<mobile_nonmember.length;i++){
        mobile_nonmember[i].style.display = 'block';
      }
      for(i=0; i<mobile_member.length;i++){
        mobile_member[i].style.display = 'none';
      }
      member.style.display = 'none';
      nonmember.style.display = 'list-item';
    }
  </script>

  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>
  <script src="js/customize.js"></script>
  <script src="js/web3.min.js"></script>
  <script src="js/truffle-contract.js"></script>
  <script src="js/common.js"></script>

  </body>
</html>
