.blue_window {
  display: inline-block;
  width: 100%; height: 100%;
  border: 3px solid #0D47A1;
  background: white;
}
.input_text {
  width: 100%; height: 100%;
  margin: 6px 0 0 6px;
  border: 0;
  line-height: 21px;
  font-weight: 200;
  font-size: 16px;
  outline: none;
}
.sch_smit {
  width: 100%; height: 100%;
  margin: 0; border: 0;
  vertical-align: top;
  background: #0D47A1;
  color: white;
  font-weight: bold;
  border-radius: 0px;
  cursor: pointer;
}
.sch_smit:hover {
  background: #0D47A1;
}

.articles__header {
  padding-top: 5px;
  padding-bottom: 10px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  line-height: 1;
}

.articles__header-select select {
  max-width: 300px;
}

.comment-window{
  background-color: #f5f5f5;
  margin-top:50px;
  margin-bottom: 10px;
}

.comment-list{
  padding-top:6px;
  padding-bottom: 6px;
  border-bottom: 1px dotted #9e9e9e;
}

/* 직계자식 */
.comment-list > table > tbody > tr{
  border:0px;
}
.comment-name{
  font-weight: bold;
  text-align: center;
  padding:0px;
  width: 10%;
}

.comment-date{
  font-size:0.8rem;
  vertical-align: bottom;
  color: #9e9e9e;
  padding:0px; width:15%;
}

.comment-blank{
  padding: 0px;
  width: 72%;
}

.comment-cancel{
  vertical-align: bottom;
  padding:0px;
  width:3%;
}

.comment-check{
  vertical-align: center;
  padding:0px;
  width:3%;
}


.comment-contents{
  padding:6px;
  padding-left: 5%;
}

.comment-window-first-td{
  width: 80%;
}

.comment-window-second-td{
  width: 10%;
}

.comment-window-first-td > div{
  background-color:#ffffff;
  margin:0px;
  border:1px solid #9e9e9e;
  overflow: hidden;
}

.comment-window-first-td > div > textarea{
  font-size:0.8rem;
  border-bottom: 0px;
  min-height:70px;
}

.journal_info{
  margin-top : 20px;
  border-top : 1px solid #9e9e9e;
}
.journal_info > tbody > tr > td{
  padding:3px;
  text-align: center;
}

.vertical-container { display: -webkit-flex;
  display:         flex;
  -webkit-align-items: center;
          align-items: center;
  -webkit-justify-content: center;
          justify-content: center;
  height: 800px;
}

.vertical-subcontainer{
  position:relative;
  box-sizing: border-box;
  width:505px;
  min-height:700px;
  height:auto;
  background-color: #ffffff;
}

.login-shadow {
    box-shadow: -60px 0px 100px -90px #000000,
        60px 0px 100px -90px #000000;
}

.hiddenPage{
  display:none;
}

#overlay{
  position : fixed;
  display : none;
  width:100%;
  height:100%;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background-color:rgb(0,0,0);
  z-index: 2;
  cursor:pointer;
}

.newMemberAccount{
  position:absolute;
  top:50%;
  left:50%;
  font-size:1rem;
  color:white;
  transform:translate(-50%, -50%);
  -ms-transform:translate(-50%, -50%);
}

.uploadFinalJournal{
  position:absolute;
  top:50%;
  left:50%;
  font-size:1rem;
  color:white;
  transform:translate(-50%, -50%);
  -ms-transform:translate(-50%, -50%);
}

.view_final_info{
  margin-top : 20px;
  border-top : 1px solid #9e9e9e;
}
.view_final_info > tbody > tr > td{
  padding:3px;
  text-align: center;
}

.fixed{
  margin : 10px;
  height:35px;
  width:100%;
  color: #555;
  font-size:12px;
  z-index:999;
  top:0px;
  left:0px;
}

.transaction_td{
  padding:10px;  text-overflow:ellipsis; overflow:hidden; white-space:nowrap; margin-left:2px; margin-right:2px;
}

.transaction_right{
  border-right : 3px solid #ffffff;
}

.abstract_td{
  text-overflow:ellipsis; overflow:hidden; white-space:nowrap;
}
