<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>Open Journal</title>

  <script>
    var userId = '{{userId}}';
    //alert(userId);
  </script>

  <script>
  function checkComment(comment){
    var img_id = comment;
    var split_arr = img_id.split("_");
    if(split_arr[3] == 1){
      var special_id = document.getElementById(img_id).firstElementChild;
      special_id.src = "../static/check.png"
      document.getElementById(img_id).classList.add('checked');
      document.getElementById(img_id).classList.remove('unchecked');
    }
  }
  </script>

  <script>
  function adapt(test){
    var img_id = test.id;
    var split_arr = img_id.split("_");

    var userId = '{{userId}}';
    if(document.getElementById(img_id).classList.contains('unchecked') && userId == split_arr[4] && userId != split_arr[2]){
      var special_id = document.getElementById(img_id).firstElementChild;
      special_id.src = "../static/check.png"
      document.getElementById(img_id).classList.add('checked');
      document.getElementById(img_id).classList.remove('unchecked');
      location.href ="adaptPaperComment?data="+split_arr;
    }
  }
  </script>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/customize.css" type="text/css" rel="stylesheet"/>
</head>
<body>
  <nav class="white" role="navigation">
    <ul id="dropdown1" class="dropdown-content">
      <li><a href="main_login" class="black-text">로그인</a></li>
      <li class="divider"></li>
      <li><a href="main_new_member" class="black-text">회원가입</a></li>
      <li class="hiddenPage"><a href="main_mypage" class="black-text">마이 페이지</a></li>
    </ul>
    <div class="nav-wrapper container">
      <a id="logo-container" href="/" class="brand-logo">Open Journal</a>
      <ul class="right hide-on-med-and-down">
      <li><a href="main_enroll">논문 검수 및 등록</a></li>
      <li><a href="main_view_fix_journal">논문 구독</a></li>
      <li><a href="main_comunity">커뮤니티</a></li>
      <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">로그인<i class="material-icons right">arrow_drop_down</i></a></li>
      </ul>
      <ul id="nav-mobile" class="sidenav">
        <li><a href="main_enroll">논문 검수 및 등록</a></li>
        <li><a href="main_view_fix_journal">논문 구독</a></li>
        <li><a href="main_comunity">커뮤니티</a></li>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons blue-text text-darken-4">menu</i></a>
    </div>
  </nav>

  <div id="loading_journal" style="display:none; margin:0px;" class="fixed center-align">
    <div style="margin:0px;" class="blue lighten-4 progress">
      <div class="blue darken-3 indeterminate"></div>
    </div>
    <span style="font-weight:bold;" class="blue-text text-darken-4">논문이 블록체인에 걸리는 데 약 1분 정도 소요됩니다.</span>
  </div>

  <div id="complete_journal" style="display:none; margin:0px;" class="fixed center-align">
    <div style="margin:0px;" class="progress">
        <div class="blue darken-3 determinate" style="width: 100%"></div>
    </div>
    <span style="font-weight:bold;" class="blue-text text-darken-4">논문이 성공적으로 등록되었습니다.</span>
  </div>

  {% for i in data %}
  <div  class="container">
    <div class="section">
      <div class="row" style="margin-bottom:0px;">
        <div style="border:1px solid #9e9e9e;" class="col s12 center">
          <table>
            <tbody>
              <tr>
                <td style="font-weight: bold" class="left">{{i.title}}</td>
                <td class="left" style="color:#9e9e9e;">|</td>
                <td class="left">{{i.mainCategory}}</td>
                <td class="left">-</td>
                <td class="left">{{i.subCategory}}</td>
                <td class="right blue-text" style="font-size:1.2rem; font-weight: bold">{{i.time}}</td>
              </tr>
            </tbody>
          </table>
          <div style="margin-bottom: 8px;" class="col s12 center">
          </div>
          <div class="s12 col center">
            <iframe id="journalPDF" style="width:80%; height:650px; overflow: hidden;" src="../static/journal_example_first.pdf">
            </iframe>

            <table class="journal_info">
              <tbody>
                <tr>
                  <td style="font-weight: bold;">
                    저자
                  </td>
                  <td>
                    {{i.writer}}
                  </td>
                </tr>
                <tr>
                  <td style="font-weight: bold;">
                    Abstract
                  </td>
                  <td>
                    <p style="padding-left : 10px;text-align: left;">{{i.abstract}}</p>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

          <div style="margin-top:50px;" class="right">
            <div onclick="location.href='/move_paper_update?id={{i._id}}'" class="col center">
              <a href="#" id="" class="btn waves-effect waves-light blue darken-4">논문 업데이트</a>
            </div>

            <div onclick="on()" class="col center">
              <a href="#" id="" class="btn waves-effect waves-light blue darken-4">최종 등록</a>
            </div>
          </div>


          <div id="overlay">
            <div style="overflow:scroll; background-color:white; width:80%; height:80%;" class="uploadFinalJournal">
              <div style="color:black;" class="row">

                <div class="col center s12">
                  <p style="text-align: center; margin:20px; border:1px solid #9e9e9e;">
                    <span style="font-size:1.5rem;">주의사항</span><br><br>

                    Open Journal은 블록체인에 계약이 걸리는 것을 자동화하고 있습니다.<br>
                    따라서, 한번 체결된 계약은 취소나 수정이 불가능합니다.<br>
                    이를 참고하시어 신중하게 계약을 진행하시기 바랍니다.<br>

                  </p>
                </div>

                <div class="col center s12">
                  <table class="view_final_info">
                    <tbody>
                      <tr>
                        <td style="font-weight: bold;">
                          대분류
                        </td>
                        <td style="padding-left:10px;">
                          공학
                        </td>
                      </tr>

                      <tr>
                        <td style="font-weight: bold;">
                          소분류
                        </td>
                        <td style="padding-left:10px;">
                          컴퓨터공학
                        </td>
                      </tr>

                      <tr>
                        <td style="font-weight: bold;">
                          제목
                        </td>
                        <td id="journal_title" style="padding-left:10px;">
                          논문시장과 블록체인
                        </td>
                      </tr>

                      <tr>
                        <td style="font-weight: bold;">
                          저자
                        </td>
                        <td style="padding-left:10px;">
                          엄형근
                        </td>
                      </tr>
                      <tr>
                        <td style="font-weight: bold;">
                          Abstract
                        </td>
                        <td id="journal_abstract" style="padding-left:10px;">
                          나는 이 논문을 매우 열심히 썼다. Abstract다.
                        </td>
                      </tr>
                      <tr>
                        <td style="font-weight: bold;">
                          파일명
                        </td>
                        <td id="journal_abstract" style="padding-left:10px;">
                          openjournal_ver3.pdf
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>

                <div class="col s12 center">
                  <div style="margin:20px; margin-bottom:0px; text-align:left;">
                    <span style=" font-size:1.5rem; font-weight:bold;">Reference</span>
                  </div>
                  <div>
                    <div class="col s12">
                      <div class="card blue darken-4">
                        <div style="padding:1px;" class="card-content white-text">
                          <span id="journal_name" style="margin-bottom:0px; font-size:1.3rem;" class="card-title"><span>#</span><span name="OJjournal">1</span><span>&nbsp;</span>오토마타와 아두이노 기술을 활용한 새로운 융합 공학 접근 방법</span>
                          <p id="journal_author">이준표</p>
                          <p id="journal_hash" style="display:none;">해쉬</p>
                        </div>
                      </div>
                    </div>
                    <div class="col s12">
                      <div class="card blue darken-4">
                        <div style="padding:1px;" class="card-content white-text">
                          <span id="journal_name" style="margin-bottom:0px; font-size:1.3rem;" class="card-title"><span>#</span><span name="OJjournal">2</span><span>&nbsp;</span>오토마타와 아두이노 기술을 활용한 새로운 융합 공학 접근 방법</span>
                          <p id="journal_author">이준표</p>
                          <p id="journal_hash" style="display:none;">해쉬</p>
                        </div>
                      </div>
                    </div>
                    <div class="col s12">
                      <div class="card blue darken-4">
                        <div style="padding:1px;" class="card-content white-text">
                          <span id="journal_name" style="margin-bottom:0px; font-size:1.3rem;" class="card-title"><span>#</span><span name="OJjournal">3</span><span>&nbsp;</span>오토마타와 아두이노 기술을 활용한 새로운 융합 공학 접근 방법</span>
                          <p id="journal_author">이준표</p>
                          <p id="journal_hash" style="display:none;">해쉬</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col s5 center">
                  <div style="margin-bottom:0px; text-align:right;">
                    <span style=" font-size:1.5rem; font-weight:bold;">논문 가격</span>
                  </div>
                </div>

                <div class="col s2 center">
                  <select id="journal_price" class="browser-default">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                  </select>
                </div>

                <div class="col s2 center">
                  <div style="margin-bottom:0px; text-align:left;">
                    <span style=" font-size:1.5rem; font-weight:bold;">토큰</span>
                  </div>
                </div>


                <div class="col s12 center">
                  <a onclick="finalEnroll()" id="load_metamask" class="btn-small waves-effect waves-light blue darken-4">확인</a>
                  <a onclick="off()" id="load_metamask" class="btn-small waves-effect waves-light blue darken-4">취소</a>
                </div>
              </div>
            </div>
          </div>



          <div class="comment-window s12 col center">
            <ul>
              {% for j in i.commentDicts %}
              <li id={{j.commentNum}} class="comment-list">
                <table>
                  <tbody>
                    <tr id={{j.userId}}>
                      <td class="comment-name">
                        {{j.userName}}
                      </td>
                      <td class="comment-date">
                        {{j.Time}}
                      </td>

                      <td id="{{j.commentNum}}_{{i._id}}_{{j.userId}}_{{j.adaptFlag}}_{{i.user_id}}" onclick="adapt(this)" class="comment-check unchecked">
                        <img  style="height:10px; width:10px;" src="../static/uncheck.png"/>
                      </td>

                      <script>
                        checkComment("{{j.commentNum}}_{{i._id}}_{{j.userId}}_{{j.adaptFlag}}_{{i.user_id}}");
                      </script>

                      <td class="comment-blank">
                      </td>
                      <td class="comment-cancel">
                        <i class="tiny material-icons">cancel</i>
                      </td>
                    </tr>
                    <tr>
                      <td colspan="4" class="comment-contents">
                        {{j.comment}}
                      </td>
                    </tr>
                  </tbody>
                </table>
              </li>
                {% endfor %}
            </ul>

            <form action="enrollPaperComment" method="POST">
              <textarea style="display:none", name="objectId", id = "objectId">{{i._id}}</textarea>
              <table>
                <tbody>
                  <tr>
                    <td class="comment-window-first-td">
                      <div class="input-field col s12">
                        <textarea id="comment" name="comment" class="materialize-textarea"></textarea>
                      </div>
                    </td>
                    <td class="comment-window-second-td" name="enroll">
                        <input type="submit" class="center btn blue darken-4" name="enrollBtn" value="등록" />
                    </td>
                  </tr>
                </tbody>
              </table>
          </form>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}

  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>
  <script src="js/customize.js"></script>
  <script src="js/web3.min.js"></script>
  <script src="js/truffle-contract.js"></script>
	<script src="js/app.js"></script>
	<script src="js/finalenroll.js"></script>

  </body>
</html>
