.blue_window {
  display: inline-block;
  width: 100%; height: 100%;
  border: 3px solid #0D47A1;
  background: white;
}
.input_text {
  width: 100%; height: 100%;
  margin: 6px 0 0 6px;
  border: 0;
  line-height: 21px;
  font-weight: 200;
  font-size: 16px;
  outline: none;
}
.sch_smit {
  width: 100%; height: 100%;
  margin: 0; border: 0;
  vertical-align: top;
  background: #0D47A1;
  color: white;
  font-weight: bold;
  border-radius: 0px;
  cursor: pointer;
}
.sch_smit:hover {
  background: #0D47A1;
}

.articles__header {
  padding-top: 5px;
  padding-bottom: 10px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  line-height: 1;
}

.articles__header-select select {
  max-width: 300px;
}


