.blue_window {
  display: inline-block;
  width: 100%; height: 100%;
  border: 3px solid #0D47A1;
  background: white;
}
.input_text {
  width: 100%; height: 100%;
  margin: 6px 0 0 6px;
  border: 0;
  line-height: 21px;
  font-weight: 200;
  font-size: 16px;
  outline: none;
}
.sch_smit {
  width: 100%; height: 100%;
  margin: 0; border: 0;
  vertical-align: top;
  background: #0D47A1;
  color: white;
  font-weight: bold;
  border-radius: 0px;
  cursor: pointer;
}
.sch_smit:hover {
  background: #0D47A1;
}

.articles__header {
  padding-top: 5px;
  padding-bottom: 10px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  line-height: 1;
}

.articles__header-select select {
  max-width: 300px;
}

.comment-window{
  background-color: #f5f5f5; 
  margin-top:50px; 
  margin-bottom: 10px;
}

.comment-list{
  padding-top:6px; 
  padding-bottom: 6px; 
  border-bottom: 1px dotted #9e9e9e;
}

/* 직계자식 */
.comment-list > table > tbody > tr{
  border:0px;
}
.comment-name{
  font-weight: bold; 
  text-align: center; 
  padding:0px; 
  width: 10%;
}

.comment-date{
  font-size:0.8rem; 
  vertical-align: bottom; 
  color: #9e9e9e; 
  padding:0px; width:15%;
}

.comment-blank{
  padding: 0px; 
  width: 72%;
}

.comment-cancel{
  vertical-align: bottom; 
  padding:0px; 
  width:3%;
}

.comment-contents{
  padding:6px; 
  padding-left: 5%;
}

.comment-window-first-td{
  width: 80%;
}

.comment-window-second-td{
  width: 10%;
}

.comment-window-first-td > div{
  background-color:#ffffff; 
  margin:0px; 
  border:1px solid #9e9e9e; 
  overflow: hidden;
}

.comment-window-first-td > div > textarea{
  font-size:0.8rem; 
  border-bottom: 0px; 
  min-height:70px;
}

.journal_info{
  margin-top : 40px;
  border-top : 1px solid #9e9e9e;
}
.journal_info > tbody > tr > td{
  padding:3px;
  text-align: center;
}

